* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Yu Gothic UI Light", sans-serif;
}

:root {
    --primary: #e5d3f6;
    --secondary: #8504be;
    --error: #E72929;
    --white: #efebeb;
}


/*main container of the app */

body {
}


.main-container {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: var(--white);
    position: relative;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, .4);
    display: none;
    justify-content: center;
    align-items: center;
}


.header {
    width: 100%;
    padding-bottom: 6rem;
}

.header-navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    background-color: var(--primary);
    position: fixed;
}


.navbar-btn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.navbar-btn i {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--secondary);
}

.navbar-title {
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--secondary);
    letter-spacing: .2rem;
}

.navbar-cart-btn {
    position: relative;
}

.cart-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    border-radius: 50%;
    background-color: red;
    color: var(--white);
    font-size: 1.5rem;
    width: 60%;
    height: 60%;
}


/*products sectiion */

.products-container {
    position: relative;
    padding: 2.5rem 1rem;
    width: 100%;
    z-index: -1;
}

.products {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 2.5rem;
}

.product {
    border-radius: .8rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-basis: calc(100% / 4 - 2rem);
    background-color: white;
}

.product-image-container {
    height: 250px;
}

.product-image-container img {
    width: 100%;
    height: 100%;
}

.product-details {
    padding: 1rem 2rem;
}

.product-description {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.product-description p {
    font-size: 1.6rem;
    font-weight: bold;
}

.product-description .price {
    color: var(--secondary);
}

.product-Addition {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.product-btn {
    border: 1px solid var(--secondary);
    color: var(--secondary);
    background-color: var(--primary);
    font-weight: bold;
    font-size: 1.4rem;
    padding: .4rem 1rem;
    border-radius: 2.4rem;
    cursor: pointer;
}


/*cart modal section */

.cart-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}

.cart-modal {
    background-color: #fff;
    border-radius: .8rem;
    padding: .5rem 1.5rem;
    max-height: 70%;
    height: 60%;
    max-width: 100%;
    min-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
}

.cart-modal::-webkit-scrollbar {
    display: none;
}

.cart-title {
    width: 100%;
    text-align: center;
    padding: .5rem;
}

.cart-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 20%;
}

.cart-product-image {
    flex-basis: 30%;
    height: 70%;
    border-radius: .8rem;
    overflow: hidden;
}

.cart-product-image img {
    width: 100%;
    height: 100%;
}

.cart-product-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 20%;
}

.cart-product-descriptions {
    padding: 1rem 0;
    flex-basis: 50%;
    text-align: center;
}

.cart-actions {
    padding: 1rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
}


.cart-btn {
    border: 1px solid var(--secondary);
    color: var(--secondary);
    background-color: var(--primary);
    font-weight: bold;
    font-size: 1.4rem;
    padding: .4rem 1rem;
    border-radius: 2.4rem;
    cursor: pointer;
    width: 6rem;
}

.product-count-btn {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.increase-product-count {
    color: var(--secondary);
}

.decrease-product-count {
    color: var(--error);
}

.cart-inc-dec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-items-number {
    font-size: 1.5rem;
    font-weight: bold;
}

.cart-product-price, .cart-total-price {
    font-size: 1.4rem;
}

.cart-product-title {
    font-weight: bold;
    font-size: 1.4rem;
    padding: 1rem 0;
}


/**/

.show-modal {
    display: flex;
}


@media screen and (max-width: 750px) {
    .products {
        gap: .5rem;
    }

    .product {
        flex-basis: 100%;
    }

}

.product-count-btn i {
    pointer-events: none;
}